<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolshe.chargesys.mapper.ChargerMapper">


    <insert id="insertBatch" parameterType="java.util.Collection">
        insert into charger(`id`, `status`, `station_Id`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.status}, #{item.stationId})
        </foreach>
    </insert>


</mapper>